body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(./main-bg.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 20px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: #ff8d1e;
  transition: width 0.4s linear;
}

.search_icon {
    color: #ff8d1e;
    font-size: 24px;
}