body {
  background-color: rgb(235, 235, 235);
  color: #272525;
  font-family: 'Roboto', sans-serif;
}

.main {
  background: url(./main-bg.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  overflow-y: hidden;
  opacity: 0.9;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #ffff;
  border-radius: 20px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: #ff8d1e;
  transition: width 0.4s linear;
}

.search_icon {
    color: #ff8d1e;
    font-size: 24px;
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.login-button {
  background-color: #ff8d1e;
  color: #272525;
  border: none;
}

.login-button:hover {
  background-color: #ff8d1e;
  text-decoration: none;
  border: none;
}

.footer-button {
  margin-left: 300px;
}