.categories {
    background-color: #252525;
    color: #ff8d1e;
}

.categories-list {
    background-color: #55595c;
}

.categories-list a {
    color: #fefef6;
}

.card-bg {
    background-color: #55595c;
    color: #fefef6;
}

.card-title a {
    color: #ff8d1e;
}

.main-position {
    margin-top: 100px;
}

.button-font {
    font-size: 14px;
    font-weight: bold;
    color: rgb(233, 232, 232);
    background-color: #ff8d1e;
}

.button-font:hover {

    font-size: 14px;
    background-color: #ff8d1e;
}


