.categories {
    background-color: #252525;
    color: #ff8d1e;
}

.categories-list {
    background-color: #55595c;
}

.categories-list a {
    color: #fefef6;
}

.card-bg {
    background-color: #55595c;
    color: #fefef6;
}

.card-title a {
    color: #ff8d1e;
}

