body{
    overflow-x: hidden;
}
.categories {
    background-color: #252525;
    color: #ff8d1e;
}

.categories-list {
    background-color: #55595c;
}

.categories-list-color {
    color: #fefef6;
}

.categories-list-color2 {
    color: #ff8d1e;
}

.card-bg {
    background-color: #55595c;
    color: #fefef6;
}

.card-title a {
    color: #ff8d1e;
}

.main-position {
    margin-top: 100px;
}

.button-font {
    font-size: 14px;
    font-weight: bold;
    color: rgb(233, 232, 232);
    background-color: #ff8d1e;
}

.button-font:hover {

    font-size: 14px;
    background-color: #ff8d1e;
}

.nombre-tienda {
    padding-left: 50px;
    padding-top: 8px;
    padding-right: 680px;
}

