.btn-logout {
    background-color: #ff8d1e !important;
    border: 0;
    border-radius: 10%;
    color: #f5f3f3;
    height: 40px;
    width: 180px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    width: 386px;
    height: 38px;
    background: #f5f3f3;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }