  
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .marker-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .marker-btn img {
    width: 20px;
    height: 20px;
  }

  .mapboxgl-popup {
    max-width: 300px;
    max-height: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #bbb9b9;
  }

  .mapboxgl-popup-content h3{
    margin-top: 5px;
  }

  .mapboxgl-popup-close-button {
    color: orange;
    font-size: 24px;
    margin-bottom: 5px;
  }